/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
}

/* 🔶 ////////// WAVE HEADER ///////// 🔶*/

.custom-shape-divider-top-1622547291 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1622547291 svg {
  position: relative;
  display: block;
  width: calc(127% + 1.3px);
  height: 165px;
  background-color: #2a5af2;
}

.custom-shape-divider-top-1622547291 .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1622547291 svg {
    width: calc(100% + 1.3px);
    height: 99px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: white;
}

.nav-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.nav-list a {
  text-decoration: none;
  margin-left: 1rem;
  color: black;
  padding: 20px;
  font-size: 1.2em;
  -webkit-transition: color 100ms;
  transition: color 100ms;
  font-weight: 500;
}

.nav-list a:hover {
  color: #ccc;
}

a {
  color: white;
}

a:hover {
  color: #ccc;
}

/* 🔶 ////////// WAVE HEADER //////////🔶 */

/* 🔶🔶 HOME SECTION 🔶🔶 */
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #2a5af2;
  color: white;
  padding-top: 250px;
  font-size: 1.2em;
}

.link_home {
  font-size: 1.35em;
}

.home_heading {
  font-size: 3em;
  -webkit-animation: 2s text-slide alternate linear;
  animation: 2s text-slide alternate linear;
}

.home_p {
  font-size: 1.6em;
}

.content_home {
  height: 250px;
}

/* 🔶🔶 // HOME SECTION  🔶🔶 // */

/* 🔶🔶🔶 // MY STORY SECTION  🔶🔶🔶 // */
.mystory {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  text-align: center;
}

.mystory p {
  width: auto;
  height: auto;
  padding-top: 20px;
  padding-left: 150px;
  padding-right: 150px;
  letter-spacing: 1px;
}

.about_p {
  font-weight: 300;
  max-width: 1000px;
  text-align: center;
}
/* 🔶🔶🔶 // MY STORY SECTION  🔶🔶🔶 // */

/* 🔶🔶🔶🔶// PROJECTS  🔶🔶🔶🔶 // */

/* Projects flip card */
.flip-card {
  background-color: transparent;
  width: 350px;
  height: 350px;
  -webkit-perspective: 1000px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #102c81;
  color: white;
}

/* Style the back side */
.flip-card-back {
  background-color: white;
  color: black;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  overflow: hidden;
  overflow-y: auto;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.projects_heading {
  margin-top: 90px;
}

.flip-card {
  margin: 10px;
}

.flip_card_heading {
  margin-top: 120px;
}

.flip_card_back_container {
  padding-top: 30px;
}

.flip_card_link {
  color: black;
}

.flip_card_p {
  padding: 5px;
  padding-bottom: 30px;
  height: 250px;
  overflow: hidden;
  overflow-y: auto;
}

.react_client {
  padding-left: 15px;
  padding-right: 15px;
}

/* 🔶🔶🔶🔶 // PROJECTS 🔶🔶🔶🔶 // */

/* 🟣🟣🟣 */
.containerContact {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 10px black;
  box-shadow: 0px 0px 10px black;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.form-group {
  width: 100%;
  margin-top: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  resize: none;
  border: 1px solid black;
}

button[type='submit'] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 8px;
  font-size: 1.3em;
  color: white;
  background-color: black;
  margin-top: 10px;
  cursor: pointer;
}

#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}

#status.success {
  background-color: skyblue;
  -webkit-animation: status 3s ease forwards;
  animation: status 3s ease forwards;
}
#status.error {
  background-color: rgb(235, 137, 25);
  -webkit-animation: status 3s ease forwards;
  animation: status 3s ease forwards;
}

/* 🟣🟣🟣 */

/* 🟣 */

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 50px;
}

.footer a {
  margin: 20px;
  padding-bottom: 20px;
}

.foot_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.foot_container h1 {
  padding-top: 50px;
  padding-bottom: 150px;
}

/* 🟣 */

@media only screen and (max-width: 570px) {
  .nav-top {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 13px;
    margin-top: 20px;
  }

  .nav-list a {
    padding: 0;
    margin: 3px;
  }

  .home {
    padding-top: 130px;
    font-size: small;
    overflow-x: hidden;
  }

  .mystory {
    margin-top: 60px;
  }

  .myprojects {
    margin-top: 60px;
  }

  .foot_container h1 {
    padding-bottom: 30px;
    font-size: 20px;
  }

  .content_home {
    height: 150px;
  }

  p.about_p {
    padding-left: 120px;
    padding-right: 120px;
  }
}

@-webkit-keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }

  90% {
    opacity: 1;
    pointer-events: all;
  }

  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }

  90% {
    opacity: 1;
    pointer-events: all;
  }

  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@-webkit-keyframes text-slide {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes text-slide {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
